html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
div{
  clear: none;
}

p { text-align: center;}

#personal-info {
  flex: 3;
  text-align: center;
}

figure {
  width: 100%;
}
figcaption {
  font-style: italic;
  width: 70%;
  text-align: center;
  margin: 0 0 0 1rem; 
}
.responsive-menu {
  float: right;
  text-align: center;
}
.header {
  background: #000000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
  min-height: 5rem;
  overflow: hidden;
}

ul.menu li:not(:nth-child(1)) {
  display: none;
}



.introduction {
  background-image: url(images/20.jpg);
  background-size: cover;
  height: 100vh;
}
.about-me {
  background-color: antiquewhite;
  min-height: 50vh;
  padding-bottom: 1rem;
}

#my-work {
  height: 100vh;
  background-color:  #E0E0E0;
  display: flex;
  flex-direction: column;
}

#my-work h2,h3 {
  
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 5px 5px 5px black;
}

  #my-work-div-title{
  flex: 1;
  text-align: center;
  background-color: aqua;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
    text-shadow: 5px 5px 3px black;
}
#work-box-div {
  flex: 7;
  padding: 1rem  3%;
  display: flex;
  justify-content: space-between;
}

.work-box {
  padding: 1% 2%;
  box-shadow: 8px 8px grey;
  border: 2px solid grey;
  width: 90%;
  height: 40%;
  background-color:  white; 
  color: white;
}
.box-title {
  bottom: 0;
  color: lightblue;
  font-style: italic;
  border-style: solid;
  border-bottom: thick solid lightblue;
}
.work-box img {
    display: block;
    margin: auto;
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 200px; /* Set a small width */
}
.logo {
  margin-left: 1rem;
  display: flex;
  align-content: center;
  align-items: center;
  font-size: 30px;
  color: yellow;
  font-family: 'Indie Flower', cursive;
}

.flex-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding-top: 5%;
}

.skills-title {
  text-align: center;
}

.skills-img {
  margin: auto;
  display: block;
  border-radius: 50%;
  border-style: solid;
}
.tecno {
  width: 45%;
  margin: 2%;
}
.menu {
  display: flex;
  list-style: none;
}

ul.menu li:hover {
  background-color: cadetblue;
}
.menu li {
  background-color: black;
  margin-right: .5rem;
  height: 2rem;
  width: 4.7rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  
}

ul.menu.responsive li {
  display: block;
}
ul.menu.responsive  {
  width: 90%;
  display: block; 
}
.menu a{
  text-decoration: none;
  color: white;
}
.my-name {
  font-family:fantasy; 
  font-size: 1.3rem;;
}

.carrear{
  color: blanchedalmond;
  font-size: 1rem;
  text-align: center;
}
.image-wrapper {
  color: white;
  display: flex;
  font-size: 2rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  height: 70vh;
  text-shadow: 5px 5px 3px black;
}
.front-image {
  width: 40%;
  border-radius: 1rem;
}

.flex-main {
  display: flex;
  justify-content: center;
}
/* Start of skills styling  */
.skills {
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.skills .container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

skill-list {
  
  display: flex;
  flex-direction: row;
  
  flex-wrap: wrap;
}

/* Start of contact styling  */
.contact form > div {
  display: flex;
}

.contact form > div >label {
  flex: 1;
  font-weight: bold;
  text-align: right;
  margin-right: 2%;
  font-size: 1.5rem;
}

.contact form > div {
  margin-bottom: 10px;
}
.contact form > div > input{
  flex: 2;
  height: 1.5rem;
}

.contact form > div > textarea{
  flex: 2;
  height: 6rem;
}

.contact h1 {
  text-align: center;
}
.contact {
  background: url(https://www.clipartsgram.com/image/461136230-background-websites1.jpg);
  background-size: cover;
  display: flex;
  width: 100%;
  height: 100vh;
  
}


.contact form {
  display: flex;
  flex-direction: column;
  
}

.contact form > button {
  width: 15%;
  width: 15%;
  height: 2rem;
  margin: auto;
}

/* End of contact styling  */
.container {
  width: 85%;
  margin: auto;
}
@media only screen and (min-width: 1024px ){
  .responsive-menu {
  display: none !important;
}
  
  .skill-img {
    display: inline;
  }

  figure {
    flex: 1;
  }
  .tecno {
  width: 20%;
  margin: 2%;
}
  #personal-info{
    text-align: inherit;
  }
 .menu {
  display: block  ;
}
  ul.menu li:not(:nth-child(1)) {
    padding: 1.% 0 0 0 ;
    display: block  ;
    float: left;
  }
  .work-box {
  width: 25%;
  height: 40%;
}
  
  .image-wrapper {
  color: white;
  width: 100%;
  display: flex;
  font-size: 70px;
  text-align: right;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 70vh;
}
}
@media only screen and (min-width: 1440px ){
  
  
  ul li {
    font-size: 14px;
  }
  p {
    text-align: justify;
    font-size: 1.3rem;
  }
  
  .skills-title {
    font-size: 2rem;
  }
  
  .my-name {
  font-family:fantasy; 
  font-size: 2.8rem;;
}
  .flex-main {
  display: flex;
  justify-content: flex-end;
}

  #my-work h2 {
    font-size: 2rem;
  }
  
  .image-wrapper { 
  font-size: 80px;
  }
  
  
}